<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pdfreader3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/pdf_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pdf_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFReader">

        <!-- Main Activity (Launcher) -->
        <activity android:name="com.example.pdfreader3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- PDF Reader (Sub Activity) -->
        <activity android:name="com.example.pdfreader3.SubActivityReader"
            android:parentActivityName="com.example.pdfreader3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.OPEN_DOCUMENT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

    </application>
</manifest>
